/* src/components/Header.css */

.header {
    position: fixed; /* Set the header position to fixed */
    top: 0; /* Position the header at the top of the viewport */
    left: 0;
    width: 100%; /* Make the header take up the full width */
    z-index: 1000; /* Ensure the header appears above other content */
    background-color: rgba(0, 0, 0, 0.7); /* Set the background color with transparency */

}

/* General link styles */
.nav-link {
    color: white; /* Default color */
    text-decoration: none; /* Remove underline */
}

/* Hover effect */
.nav-link:hover {
    color: lightblue; /* Color when hovering */
}

/* Active link effect */
.nav-link:active, .nav-link.active {
    color: lightgray; /* Color when the link is active */
}

.logo {
    color: whitesmoke; /* Set the color of the logo */
    font-size: 1.5em; /* Adjust the size of the logo */
    font-weight: bold; /* Make the logo bold */
    text-align: center; /* Center the logo */
}

.nav-links {
    display: flex;
    justify-content: center; /* Horizontally center the nav links */
    padding: 0; /* Remove default padding */
  }
  
  .nav-links li {
    margin-right: 20px; /* Add spacing between links */
  }
  
  .nav-links li:last-child {
    margin-right: 0; /* Remove right margin from the last link */
  }
  