/* Product.css */

.header {
    margin-left: 5vw;
    padding-left: 10px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5vw;
    max-width: 70%;
}

.product-container {
    max-width: 150px;
    margin: 0.8vw;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
    list-style-type: none;
    cursor: pointer; /* Added cursor pointer */
}

.product-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.product-image {
    border-radius: 8px;
    object-fit: cover;
    width: 100%; /* Ensure image fits the container */
    height: auto; /* Maintain aspect ratio */
}

.show-more-container {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin-left: 6vw;
}

.show-more-button {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
