.shopping-cart {
    padding: 5px;
    background: #1b1b1b;
    border-radius: 8px;
    max-width: 300px;
    margin: 0 auto;
}

.shopping-cart h2 {
    text-align: center;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px;
    background: #363535;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.cart-item-details {
    display: flex;
    flex-direction: column;
}

.cart-item-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.cart-item-price {
    color: #f5f5f5;
}

.plus-quantity-button {
    border: none;
    font-size: 20px;
    padding: 5px 8px;
    margin-left: 2px;
    cursor: pointer;
}

.minus-quantity-button {
    border: none;
    font-size: 20px;
    padding:  5px 11px;
    margin-left: 2px;
    cursor: pointer;
}

.remove-button {
    border: none;
    font-size: 20px;
    padding:  5px 3px;
    margin-left: 2px;
    cursor: pointer;
}

.remove-button:hover {
    color: darkred;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

