/* src/App.css */

body {
  background-image: url('./assets/webshop-background.jpg');
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /* Fix the background image in place */
  background-size: cover; /* Scale the background image to cover the entire background */
}
