/* App.css */

/* src/App.css */

/* Apply the background image to the root container */
body {
  background-image: url('./assets/webshop-background.jpg');
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /* Fix the background image in place */
  background-size: cover; /* Scale the background image to cover the entire background */

}
.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.center {
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: center; /* Horizontally center the nav links */
  list-style-type: none; /* Remove bullet points */
  padding: 0;
}

.nav-links li {
  margin-right: 20px; /* Add spacing between links */
}

.nav-links li:last-child {
  margin-right: 0; /* Remove right margin from the last link */
}
